[submodule "extensions/dear-implot-sys/third-party/cimplot"]
	path = extensions/dear-implot-sys/third-party/cimplot
	url = https://github.com/cimgui/cimplot
	branch = master
[submodule "extensions/dear-imguizmo-sys/third-party/cimguizmo"]
	path = extensions/dear-imguizmo-sys/third-party/cimguizmo
	url = https://github.com/cimgui/cimguizmo
[submodule "dear-imgui-sys/third-party/cimgui"]
	path = dear-imgui-sys/third-party/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = docking_inter
[submodule "extensions/dear-imnodes-sys/third-party/cimnodes"]
	path = extensions/dear-imnodes-sys/third-party/cimnodes
	url = https://github.com/cimgui/cimnodes
[submodule "extensions/dear-imguizmo-quat-sys/third-party/cimguizmo_quat"]
	path = extensions/dear-imguizmo-quat-sys/third-party/cimguizmo_quat
	url = https://github.com/cimgui/cimguizmo_quat
[submodule "extensions/dear-implot3d-sys/third-party/cimplot3d"]
	path = extensions/dear-implot3d-sys/third-party/cimplot3d
	url = https://github.com/cimgui/cimplot3d
[submodule "extensions/dear-imgui-test-engine-sys/third-party/imgui_test_engine"]
	path = extensions/dear-imgui-test-engine-sys/third-party/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine
