[submodule "extensions/dear-implot-sys/third-party/implot"]
	path = extensions/dear-implot-sys/third-party/implot
	url = https://github.com/epezent/implot.git
[submodule "dear-imgui-sys/third-party/cimgui"]
	path = dear-imgui-sys/third-party/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = docking_inter
